*{
    padding: 0;
    margin: 0;
}

header{
    width: 960px;
    height: auto;
    margin: 0 auto;
}

.nav{
    width: 960px;
    height: auto;
    background: #000;
}

.nav ul li{
    list-style: none;
    display: inline-block;

}

.nav ul li a{ 
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 35px;
    display: block;
    text-decoration: none;
}

.nav ul li a:hover{
    color: yellow;
    background-color: red;
} 
.nav ul li ul{
    position: absolute ;
    background: #000;
    left: -9999px;
}

.nav ul li:hover ul{
    left: 640px;
}

.nav ul li ul{
    width: 200px;
    border-bottom: 1px solid #fff;
}


.banner-cover{
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.banner-text{
    padding: 100px;
    text-align: center;
}
.banner-text button{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    border: 0;
    background: #000;
    color: #fff;
    margin: 0;
    border-radius: 10px;
}
.banner-text button:hover{
    color: yellow;
    background: red;
}
.about-logo img{
    width: 250px;
    height: 180px;
    margin: 0 10px;
    margin-bottom: 10px;
    box-shadow: 0 8px 10px 0 #000;
}

.about-text{
    width: 520px;
    height: auto;
    padding: 0 20px;
}
.about-text h2{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px ;
}

.about-text p{
    font-size: 16px;
    color: gray;
    line-height: 22px;
}
.row{
    overflow: auto;
}
.col{
    float: left;
}

.about-section{
    background: #DCE7E5;
    padding: 40px 0;
    margin-top: 20px;
}

.title{
    width: 180px;
    height: auto;
    margin: 0 auto;
}

.title h2{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #fff;
    text-align: center;
    margin-bottom: 30px;
}

.service{
    width: 280px;
    height: auto;
    border: 1px solid #fff;
    text-align: center;
    display: inline-block;
    margin: 10px;
    margin-left: 20px;
}
.service h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;

}
.service p{
    font-size: 15px;
    color: #c4c3c3;
    line-height: 22px;
    padding: 0 15px;
}
.service-section{
    background: #878882;
    padding: 40px 0px;
    margin-top: 20px;
}
.serv-icon i{
    font-size: 40px;
    margin-top: 10px;
    margin: 10px;
    color: #fff;
    transition: 0.5s;
}

.serv-icon i:hover{
    color: yellow;
    transform:scale(.8) ;
}

.contact{
    background: #fff;
    padding: 15px 15px 15px 80px;
    box-shadow: 0 0 10px #ccc;
    width: 180px;
    position: relative;
    display: inline-block;
    margin: 0 8px;

}

.cont-icon i{
    position: absolute;
    width: 50px;
    height: 50px;
    float: left;
    top: 8px;
    left: 15px;
    background: #222;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 30px;
    transform: .5s;
    }
.cont-icon i:hover{
    color: yellow;
    transform: scale(.8);
}

.cont-text p{
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;

}
.contact-section{
    background: #cacaca;
    padding: 40px 0;
    margin-top: 20px;
}

.contact-from{
    width: 620px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;

}


.inputTag input{
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 10px;
    width: 80%;
    border: 0;
    margin: 8px 0;
}
.inputTag textarea{
    width: 515px;
    height: auto;
    border: 0;

}

.inputTag button{
    width: 83.5%;
    padding: 10px 0;
    background: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 4px;
    border: 0;
}

footer{
    width: 960px;
    margin: 0 auto;
    height: auto;
    background: #000;
    color: #fff;
    padding: 30px 0px;

}
.footer-icon{
    float: right;
}

.footer-icon i{
    font-size: 30px;
    padding: 0 10px;
    transition: .5s;
}
.footer-icon i:hover{
    color: yellow;
    transform: scale(.8);
}

.footer-text{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 20px;
}